<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Results of test execution </title>
<% if Rails.application.config.importmap_mocha_scripts.size > 0 %>
  <%= javascript_include_tag *Rails.application.config.importmap_mocha_scripts %>
<% end %>
<%= javascript_include_tag 'mocha' %>
<%= stylesheet_link_tag 'mocha' %>
<%= javascript_importmap_tags 'importmap_mocha' %>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    mocha.setup('<%= Rails.application.config.importmap_mocha_style %>');
  </script>
</head>
<body>
  <%= testcase %>
  <div id="main">
    <div id="content">
      <div id="container">
      </div>
      <div id="mocha">
      </div>
    </div>
  </div>
<script type="module">
  mocha.run();
</script>
</body>
</html>
